services:
  backend:
    image: openjdk:21-jdk
    ports:
      - "8080:8080"
    networks:
      - dev

  database:
    image: mariadb:12
    volumes:
      - ./scripts/mariadb:/docker-entrypoint-initdb.d
    env_file:
      - env/development.env
    ports:
      - "3306:3306"
    networks:
      - dev

networks:
  dev:
