services:
  backend:
    image: openjdk:21-jdk
    ports:
      - "8080:8080"
    volumes:
      - ./credentials:/credentials
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /credentials/google-service-account.json
    networks:
      - dev

  database:
    image: mariadb:12
    volumes:
      - ./scripts/mariadb:/docker-entrypoint-initdb.d
    env_file:
      - env/development.env
    ports:
      - "3306:3306"
    networks:
      - dev

networks:
  dev:
