name: Android

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup secrets
      env:
        JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        cp secrets.default.properties secrets.properties
        echo $JSON > app/google-services.json
    - name: Build with Gradle
      run: ./gradlew :app:assembleRelease

  lint:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup secrets
      env:
        JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        cp secrets.default.properties secrets.properties
        echo $JSON > app/google-services.json
    - name: Run ktlint
      run: ./gradlew :app:ktlintCheck

  test:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup secrets
      env:
        JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        cp secrets.default.properties secrets.properties
        echo $JSON > app/google-services.json
    - name: Build with Gradle
      run: ./gradlew :app:test

  codeql: 
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup secrets
      env:
        JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: |
        cp secrets.default.properties secrets.properties
        echo $JSON > app/google-services.json
    - name: Build with Gradle
      run: ./gradlew :app:detekt

